<section class="wrapper" ng-controller="Cards" ng-init="initCards()">
  <div id="cards-controller-header"><button class="button" ng-click="addCard()">Add</button></div>
  <div class="cards-wrapper">
    <div ng-repeat="card in cards" class="card-wrapper">
      <div class="card">
        <div class="card-header">
          <h3>{{ card.name }}</h3>
        </div>
        <div class="card-box no-selection">
          <img ng-src="{{ card.urls.original }}" ng-if="card.urls" class="center" />
          <img ng-src="{{ card.url }}" ng-if="card.url" class="center" />
        </div>
        <div class="tags-wrapper">
          <ul ng-if="card.tags">
            <li ng-repeat="tag in card.tags">{{ tag }}</li>
          </ul>
        </div>
        <div class="cud no-selection">
          <div class="cud-buttons">
            <button class="button" ng-click="editCard(card)"><i class="fa fa-pencil-square-o"></i>Edit</button>
            <button class="button" ng-click="deleteCard(card.id)"><i class="fa fa-trash-o"></i>Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>