<div ng-show="showUserForm" class="form-modal">
  <header>
    <h2>{{ userData.action }} User</h2>
  </header>
  <section>
    <div class="modal-field">
      <label class="modal-label">Email</label>
      <input type="text" class="modal-input" ng-model="userData.name"/>
    </div>
  </section>
  <button id="submit-button" class="button green" ng-click="submitImage(imageData)">
    <i class="fa fa-cloud-upload"></i>Submit
    <div id="form-spinner"></div>
  </button>
  <button id="cancel-button" class="button red" ng-click="togglerUserForm()">
    <i class="fa fa-times-circle-o"></i>Cancel
  </button>
</div>
