body {
  font-family: 'Lato', 'Helvetica Neue';
  font-size: 12px;
  background: #fff;
  margin: 0;
  padding: 0;
}

body.menu-open {
  overflow: hidden;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear {
  clear: both;
}

.block {
  display: block;
}

input[type=text], input[type=email], input[type=url], input[type=password], textarea {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

.form-modal input[type=text], .form-modal input[type=email], .form-modal input[type=url], .form-modal input[type=password], .form-modal textarea {
  width: 100%;
}

.form-modal label {
  display: block;
  margin: 2px;
}

.modal-field {
  margin: 5px 3px;
}

.modal-label {
  width: 25%;
  padding: 3px;
  height: 16px;
}

.modal-input {
  font-size: 16px;
  line-height: 16px;
  width: 75%;
  padding: 3px;
  height: 16px;
}

.fa {
  margin-right: 5px;
}

.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  width: 480px;
  margin: 0 auto;
  padding: 5px;
}

.image-wrapper {
  margin-bottom: 15px;
  background: #fff;
  border-radius: 5px;
}

.card {
  width: 320px;
  margin-top: 1em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding-bottom: 1.5em;
  border: 1px solid #bdc3c7;
  background-color: #fff;
  -webkit-box-shadow: #bdc3c7 0 5px 5px;
  -moz-box-shadow: #bdc3c7 0 5px 5px;
  box-shadow: #bdc3c7 0 5px 5px;
}

.card-header > h3 {
  font-weight: 100;
  font-size: 35px;
  color: #007aff;
  margin: 10px;
}

.image-box {
}

img.center {
  display: block;
  margin: 0 auto;
}

.cud {
  display: block;
  height: 35px;
  margin-top: 5px;
  text-align: center;
}
.cud-buttons {
  display: inline-block;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  font: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: #007aff;
  background: #fff;
  font-weight: 300;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 12px 7px 12px;
  border: 1px solid #007aff;
}

.button:hover {
  background: #007aff;
  color: #fff;
  text-decoration: none;
}

.button.green {
  border: 1px solid #4dd865;
  color: #4dd865;
}

.button.green:hover {
  background: #4dd865;
  color: #fff;
  text-decoration: none;
}

.button.red {
  border: 1px solid #ff3b30;
  color: #ff3b30;
}

.button.red:hover {
  background: #ff3b30;
  color: #fff;
  text-decoration: none;
}

#images-controller-header {
  margin: 0 0 5px 0;
}

.form-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: auto;
  margin-left: -200px;
  margin-top: -150px;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}

.form-modal header {
  position: relative;
}

.form-modal h2 {
  text-align: center;
  font-weight: 100;
  font-size: 25px;
  margin: 5px 0;
}

#submit-button.in-progress {
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}

.user-menu-box {
  position: relative;
}

.user-menu-box-list {
  margin: 2px;
  height: 35px;
}

.user-menu-box-list h5 {
  text-align: right;
  font-weight: 100;
  font-size: 25px;
  margin: 5px 0;
}

.tags-wrapper ul {
  list-style-type: none;
}

li.tag {
  font: 300 13px/16px 'helvetica neue';
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  margin: 0;
  padding: 0;
  color: #fff;
  background: #55EFCB;
  font-weight: 300;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  border: 1px solid #55EFCB;
}

#search {
  font: 300 13px/26px 'helvetica neue';
}

/* cards */
.card1 {
  left:50%;
  margin-left:-13em;
  z-index:10;
  transform: rotateZ(-3deg);
  -moz-transform: rotateZ(-3deg);
  -webkit-transform: rotateZ(-3deg);
  transition: all 0.5s ease-out 0.3s;
}
.card2 {
  left:50%;
  margin-left:-12em;
  z-index:9;
  transition: all 0.5s ease-out 0.15s;
}
.card3 {
  left:50%;
  margin-left:-11em;
  z-index:8;
  transform: rotateZ(3deg);
  -webkit-transform: rotateZ(3deg);
  -moz-transform: rotateZ(3deg);
  transition: all 0.5s ease-out;
}

.start .card {
  left:-100%;
  opacity:0;
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
}

.card-container {
  position: relative;
  width: 18em;
  margin: 4em auto;
}

.card h1 {
  line-height: 2em;
  color: #333;
  font-weight: 300;
  margin: 0;
  text-indent: 10px;
}

.card p {
  word-wrap: break-word;
  line-height: 1.75em;
  margin-bottom: 0;
}

.card-container:hover .card, .card-container.hover .card {
  opacity: 0.9;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  margin-left: -12em;
}

.card-container:hover .card:hover, .card-container.hover .card:hover {
  opacity: 1;
  z-index: 11;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.card-container:hover .card.hover .card-container.hover .card.hover {
  opacity: 1;
  z-index: 11;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.card-container.hover .card1 {
  transform: rotateZ(0deg) scale(0.95);
  -webkit-transform: rotateZ(0deg) scale(0.95);
}
.card-container.hover .card2 {
  left: 0%;
}
.card-container.hover .card3 {
  left: 100%;
}

img { max-width: 100% }

@media (min-width: 880px) {
  body{
    font-size: 0.9em;
  }
  .card-container {
    width: 24em;
  }
}

@media (min-width: 1075px) {
  body{
    font-size: 1.1em;
  }
  .card-container {
    width: 38em;
  }
}

@media (max-height: 550px) {
  body{
    font-size: 0.8em;
  }
  .card-container {
    width: 24em;
  }
}

#player-name {
  font: 20px/24px 'helvetica neue';
  padding: 5px;
}

#players-list {
  position: absolute;
  top: 0;
  right: 0;
}

#players-list ul li {
  font: 14px/18px 'helvetica neue';
  list-style: none;
  border: 1px solid #333;
  border-bottom: 0;
  padding: 1px;
}

#players-list ul li:last-child {
  border: 1px solid #333;
}

#user input {
  font: 14px/18px 'helvetica neue';
}

.pusher {
  z-index: 99;
  min-height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #556270;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* content style */

.menu ul {
  margin: 40px;
  padding: 0;
  list-style: none;
}

.menu h2 {
  margin: 0;
  padding: 1em;
  color: rgba(0,0,0,0.4);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
  font-size: 2em;
}

.menu ul li {
  color: #dfe5eb;
  padding: 6px 0;
  cursor: pointer; 
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu ul li:hover {
  color: #fff;
}

/* Effect: Push*/
.menu-open .pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.menu-open .menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .pusher,
.no-js .pusher {
  padding-left: 300px;
}

.menu-trigger {
  position: fixed;
  left: 5px;
  top: 5px;
  display: block;
  width: 36px;
  height: 36px;
  margin: 5px;
  border-radius: 5px;
  background: #ccc;
  cursor: pointer;
  text-align: center;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.menu-trigger:before {
  font-style: normal;
  font-size: 1.2em;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 36px;
}

.menu-trigger:hover {
  background: #556270;
  color: #fcfeff;
}

.card-data {
  margin: 0;
  padding: 0;
  color: #81878b;
}

.card-data li {
  width: 32%;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  line-height: 1.2em;
  border-right: solid 1px #bdc3c7;
  margin-top: .2em;
}

.card-data li:nth-child(3n) {
  border: none;
}

.card-data li label {
  display: block;
  text-transform: uppercase;
  font-size: .3em;
  margin-top: .6em;
  font-weight: 700;
}

.card-data li label {
  display: block;
  text-transform: uppercase;
  font-size: .5em;
  font-weight:700;
}

.add-card {
  cursor: pointer;
  color: #556270;
}
