/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: 'Helvetica Neue';
  font-size: 12px;
  background: #fff;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear {
  clear: both;
}

.block {
  display: block;
}

input[type=text], input[type=email], input[type=url], input[type=password], textarea {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

.form-modal input[type=text], .form-modal input[type=email], .form-modal input[type=url], .form-modal input[type=password], .form-modal textarea {
  width: 100%;
}

.form-modal label {
  display: block;
  margin: 2px;
}

.modal-field {
  margin: 5px 3px;
}

.modal-label {
  width: 25%;
  padding: 3px;
  height: 16px;
}

.modal-input {
  font-size: 16px;
  line-height: 16px;
  width: 75%;
  padding: 3px;
  height: 16px;
}

.fa {
  margin-right: 5px;
}

.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  width: 480px;
  margin: 0 auto;
}

.image-wrapper {
  margin-bottom: 15px;
  background: #fff;
  border-radius: 5px;
}

.card {
  width: 460px;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #999;
  padding-bottom: 1.5em;
  background-color: #fff;
}

.card-header > h3 {
  font-weight: 100;
  font-size: 35px;
  color: #007aff;
  margin: 10px;
}

.image-box {
}

img.center {
  display: block;
  margin: 0 auto;
}

.cud {
  display: block;
  height: 35px;
  margin-top: 5px;
  text-align: center;
}
.cud-buttons {
  display: inline-block;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  font: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: #007aff;
  background: #fff;
  font-weight: 300;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 12px 7px 12px;
  border: 1px solid #007aff;
}

.button:hover {
  background: #007aff;
  color: #fff;
  text-decoration: none;
}

.button.green {
  border: 1px solid #4dd865;
  color: #4dd865;
}

.button.green:hover {
  background: #4dd865;
  color: #fff;
  text-decoration: none;
}

.button.red {
  border: 1px solid #ff3b30;
  color: #ff3b30;
}

.button.red:hover {
  background: #ff3b30;
  color: #fff;
  text-decoration: none;
}

#images-controller-header {
  margin: 0 0 5px 0;
}

.form-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: auto;
  margin-left: -200px;
  margin-top: -150px;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}

.form-modal header {
  position: relative;
}

.form-modal h2 {
  text-align: center;
  font-weight: 100;
  font-size: 25px;
  margin: 5px 0;
}

#submit-button.in-progress {
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}

.user-menu-box {
  position: relative;
}

.user-menu-box-list {
  margin: 2px;
  height: 35px;
}

.user-menu-box-list h5 {
  text-align: right;
  font-weight: 100;
  font-size: 25px;
  margin: 5px 0;
}

.tags-wrapper ul {
  list-style-type: none;
}

li.tag {
  font: 300 13px/16px 'helvetica neue';
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  margin: 0;
  padding: 0;
  color: #fff;
  background: #55EFCB;
  font-weight: 300;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  border: 1px solid #55EFCB;
}

#search {
  font: 300 13px/26px 'helvetica neue';
}



/* cards */
.card1 {
  left:50%;
  margin-left:-13em;
  z-index:10;
  transform: rotateZ(-3deg);
  -moz-transform: rotateZ(-3deg);
  -webkit-transform: rotateZ(-3deg);
  transition: all 0.5s ease-out 0.3s;
}
.card2 {
  left:50%;
  margin-left:-12em;
  z-index:9;
  transition: all 0.5s ease-out 0.15s;
}
.card3 {
  left:50%;
  margin-left:-11em;
  z-index:8;
  transform: rotateZ(3deg);
  -webkit-transform: rotateZ(3deg);
  -moz-transform: rotateZ(3deg);
  transition: all 0.5s ease-out;
}

.start .card {
  left:-100%;
  opacity:0;
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
}

body {
  /*background: #666 url(http://s.cdpn.io/44759/Wood-Backgrounds-Picture.jpg) no-repeat top center;
  font-family: Georgia;*/
  font-size:0.75em;
  line-height:1.5em;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
}

.card-container {
  position: relative;
  width: 18em;
  margin: 4em auto;
}

.card {
  /*position: absolute;*/
  /*top: 20px;*/
  background: #fff;
  box-shadow: 1px 1px 7px rgba(0,0,0,.65);
  border-radius: 0em;
  padding: 2em;
  margin: 0.5em 0;
  width: 20em;
  max-width: 20em;
  -webkit-backface-visibility: hidden;
}

.card a {
  margin: 0em -2em;
  display: block;
  width: 120%;
  max-width: 24em;
  position: relative;
  line-height: 1em;
}

.card a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 1px;
  border-bottom: 1px solid rgba(0,0,0,0.35);
  border-top: 1px solid rgba(0,0,0,0.15);
}

.card h1 {
  margin-top: 0;
}

.card p {
  word-wrap: break-word;
  line-height: 1.75em;
  margin-bottom: 0;
}

.card-container:hover .card, .card-container.hover .card {
  opacity: 0.9;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  margin-left: -12em;
}

.card-container:hover .card:hover, .card-container.hover .card:hover {
  opacity: 1;
  z-index: 11;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.card-container:hover .card.hover .card-container.hover .card.hover {
  opacity: 1;
  z-index: 11;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.card-container.hover .card1 {
  transform: rotateZ(0deg) scale(0.95);
  -webkit-transform: rotateZ(0deg) scale(0.95);
}
.card-container.hover .card2 {
  left: 0%;
}
.card-container.hover .card3 {
  left: 100%;
}

img { max-width: 100% }

@media (min-width: 880px) {
  body{
    font-size: 0.9em;
  }
  .card-container {
    width: 24em;
  }
}

@media (min-width: 1075px) {
  body{
    font-size: 1.1em;
  }
  .card-container {
    width: 38em;
  }
}

@media (max-height: 550px) {
  body{
    font-size: 0.8em;
  }
  .card-container {
    width: 24em;
  }
}

#player-name {
  font: 20px/24px 'helvetica neue';
  padding: 5px;
}

#players-list {
  position: absolute;
  top: 0;
  right: 0;
}
#players-list ul li {
  font: 14px/18px 'helvetica neue';
  list-style: none;
  border: 1px solid #333;
  border-bottom: 0;
  padding: 1px;
}

#players-list ul li:last-child {
  border: 1px solid #333;
}
