<div class="form-modal">
  <form action="/images" method="post" enctype="multipart/form-data">
    <h2>{{ imageData.action }} Image</h2>
    <div>
      <div class="modal-field">
        <label class="modal-label">Name</label>
        <input type="text" class="modal-input" ng-model="imageData.name"/>
      </div>
      <div class="modal-field">
        <label class="modal-label">Tags</label>
        <input type="text" class="modal-input" ng-model="imageData.tags" />
      </div>
      <div class="modal-field">
        <label>Url</label>
        <input type="text" class="modal-input" ng-model="imageData.url" />
      </div>
      <div class="modal-field">
        <label>Image</label>
        <input type="file" name="file" ng-file-select="onFileSelect($files)"/>
      </div>
    </div>
    <input type="submit">
  </form>
  <button id="submit-button" class="button green" ng-click="submitImage(imageData)">
    <i class="fa fa-cloud-upload"></i>Submit
    <div id="form-spinner"></div>
  </button>
  <button id="cancel-button" class="button red" ng-click="togglerImageForm()">
    <i class="fa fa-times-circle-o"></i>Cancel
  </button>
</div>